<form hx-post="{% url 'todo:done' todo.id %}"
      hx-target="this"
      hx-swap="outerHTML">
    {% csrf_token %}
    <article class="flex">
        <div class="w-4/5 py-3">
            <p class="px-6 text-xs text-gray-900 {% if todo.is_done %}line-through{% endif %} ">{{ todo.title }}</p>
        </div>
        <div class="w-1/5 px-6 py-3 flex justify-end space-x-4">
            {% if not todo.is_done %}<button class="text-sky-600 hover:text-sky-900">Done</button>{% endif %}
            <a href="#"
               class="text-sky-600 hover:text-sky-900"
               hx-target="closest article"
               hx-swap="outerHTML"
               hx-post="{% url 'todo:delete' todo.id %}">Delete</a>
        </div>
    </article>
</form>
